In [18]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import xarray as xr
import metpy.calc as mpcalc
from metpy.units import units

import warnings

from herbie import Herbie

In [48]:


df = pd.read_csv("tmp_data/all_burned_wind_sites.csv")
df

,Unnamed: 0,fire,UID,longitude,latitude,start_time,end_time
0,1,eaton,1,-118.140016,34.191082,2025-01-07 18:49:00,2025-01-08 10:36:00
1,2,eaton,2,-118.118321,34.186884,2025-01-07 18:49:00,2025-01-08 10:36:00
2,3,eaton,3,-118.114447,34.186281,2025-01-07 18:49:00,2025-01-08 10:36:00
3,4,eaton,4,-118.140114,34.206638,2025-01-07 18:49:00,2025-01-08 10:36:00
4,5,eaton,5,-118.140495,34.189375,2025-01-07 18:49:00,2025-01-08 10:36:00
...,...,...,...,...,...,...,...
15077,15078,palisades,6113,-118.522344,34.054523,2025-01-07 11:00:00,2025-01-08 20:00:00
15078,15079,palisades,6114,-118.518626,34.054493,2025-01-07 11:00:00,2025-01-08 20:00:00
15079,15080,palisades,6115,-118.520812,34.055725,2025-01-07 11:00:00,2025-01-08 20:00:00
15080,15081,palisades,6116,-118.518187,34.056386,2025-01-07 11:00:00,2025-01-08 20:00:00
15081,15082,palisades,6117,-118.503873,34.062885,2025-01-07 11:00:00,2025-01-08 20:00:00

In [49]:
# Time in UTC, PDT 7 hrs ahead of UTC

xr.set_options(use_new_combine_kwarg_defaults=True)

i = []
for date in pd.date_range("2025-01-07 11:00:00", periods=9, freq="2h"):
    ds = Herbie(date).xarray("(?:U|V)GRD:10 m")
    i.append(
        ds.herbie.pick_points(df
            )
        )
slc_ts = xr.concat(i, dim="valid_time", compat='override')

✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-07 11:00 UTC F00 ┊ GRIB2 @ aws ┊ IDX @ aws
✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-07 13:00 UTC F00 ┊ GRIB2 @ aws ┊ IDX @ aws
✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-07 15:00 UTC F00 ┊ GRIB2 @ aws ┊ IDX @ aws
✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-07 17:00 UTC F00 ┊ GRIB2 @ aws ┊ IDX @ aws
✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-07 19:00 UTC F00 ┊ GRIB2 @ aws ┊ IDX @ aws
✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-07 21:00 UTC F00 ┊ GRIB2 @ aws ┊ IDX @ aws
✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-07 23:00 UTC F00 ┊ GRIB2 @ aws ┊ IDX @ aws
✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-08 01:00 UTC F00 ┊ GRIB2 @ aws ┊ IDX @ aws
✅ Found ┊ model=hrrr ┊ product=sfc ┊ 2025-Jan-08 03:00 UTC F00 ┊ GRIB2 @ local ┊ IDX @ aws

In [50]:
df

,Unnamed: 0,fire,UID,longitude,latitude,start_time,end_time
0,1,eaton,1,-118.140016,34.191082,2025-01-07 18:49:00,2025-01-08 10:36:00
1,2,eaton,2,-118.118321,34.186884,2025-01-07 18:49:00,2025-01-08 10:36:00
2,3,eaton,3,-118.114447,34.186281,2025-01-07 18:49:00,2025-01-08 10:36:00
3,4,eaton,4,-118.140114,34.206638,2025-01-07 18:49:00,2025-01-08 10:36:00
4,5,eaton,5,-118.140495,34.189375,2025-01-07 18:49:00,2025-01-08 10:36:00
...,...,...,...,...,...,...,...
15077,15078,palisades,6113,-118.522344,34.054523,2025-01-07 11:00:00,2025-01-08 20:00:00
15078,15079,palisades,6114,-118.518626,34.054493,2025-01-07 11:00:00,2025-01-08 20:00:00
15079,15080,palisades,6115,-118.520812,34.055725,2025-01-07 11:00:00,2025-01-08 20:00:00
15080,15081,palisades,6116,-118.518187,34.056386,2025-01-07 11:00:00,2025-01-08 20:00:00
15081,15082,palisades,6117,-118.503873,34.062885,2025-01-07 11:00:00,2025-01-08 20:00:00

In [51]:
df = slc_ts.to_dataframe()

In [52]:
df['wdsp'] = mpcalc.wind_speed(df['u10'].values * units("m/s"), df['v10'].values * units("m/s")).magnitude

In [53]:
df['wdir'] = mpcalc.wind_direction(df['u10'].values * units("m/s"), df['v10'].values * units("m/s")).magnitude

In [54]:
df

                                u10       v10                time   step  \
valid_time          point
2025-01-07 11:00:00 0      2.429993  1.607199 2025-01-07 11:00:00 0 days
                    1     -1.507507 -0.267801 2025-01-07 11:00:00 0 days
                    2     -1.507507 -0.267801 2025-01-07 11:00:00 0 days
                    3     -4.195007 -3.955301 2025-01-07 11:00:00 0 days
                    4      2.429993  1.607199 2025-01-07 11:00:00 0 days
...                             ...       ...                 ...    ...
2025-01-08 03:00:00 15077 -3.213173 -8.104012 2025-01-07 11:00:00 0 days
                    15078 -3.213173 -8.104012 2025-01-07 11:00:00 0 days
                    15079 -3.213173 -8.104012 2025-01-07 11:00:00 0 days
                    15080 -3.213173 -8.104012 2025-01-07 11:00:00 0 days
                    15081 -2.900673 -7.166512 2025-01-07 11:00:00 0 days

                           heightAboveGround   latitude   longitude  \
valid_time          point
2025-01-07 11:00:00 0                   10.0  34.189256  241.863986
                    1                   10.0  34.195233  241.895699
                    2                   10.0  34.195233  241.895699
                    3                   10.0  34.215487  241.856752
                    4                   10.0  34.189256  241.863986
...                                      ...        ...         ...
2025-01-08 03:00:00 15077               10.0  34.058335  241.466895
                    15078               10.0  34.058335  241.466895
                    15079               10.0  34.058335  241.466895
                    15080               10.0  34.058335  241.466895
                    15081               10.0  34.064424  241.498522

                          gribfile_projection  point_grid_distance  \
valid_time          point
2025-01-07 11:00:00 0                    None             0.420431
                    1                    None             1.588978
                    2                    None             1.364423
                    3                    None             1.025275
                    4                    None             0.412394
...                                       ...                  ...
2025-01-08 03:00:00 15077                None             1.078150
                    15078                None             1.400624
                    15079                None             1.169076
                    15080                None             1.391254
                    15081                None             0.279228

                           point_Unnamed: 0 point_fire  point_UID  \
valid_time          point
2025-01-07 11:00:00 0                     1      eaton          1
                    1                     2      eaton          2
                    2                     3      eaton          3
                    3                     4      eaton          4
                    4                     5      eaton          5
...                                     ...        ...        ...
2025-01-08 03:00:00 15077             15078  palisades       6113
                    15078             15079  palisades       6114
                    15079             15080  palisades       6115
                    15080             15081  palisades       6116
                    15081             15082  palisades       6117

                           point_longitude  point_latitude  \
valid_time          point
2025-01-07 11:00:00 0          -118.140016       34.191082
                    1          -118.118321       34.186884
                    2          -118.114447       34.186281
                    3          -118.140114       34.206638
                    4          -118.140495       34.189375
...                                    ...             ...
2025-01-08 03:00:00 15077      -118.522344       34.054523
                    15078      -118.518626       34.054493
                    15079      -118.520812       34.055725
                    15080      -118.518187       34.056386
                    15081      -118.503873       34.062885

                              point_start_time       point_end_time      wdsp  \
valid_time          point
2025-01-07 11:00:00 0      2025-01-07 18:49:00  2025-01-08 10:36:00  2.913409
                    1      2025-01-07 18:49:00  2025-01-08 10:36:00  1.531109
                    2      2025-01-07 18:49:00  2025-01-08 10:36:00  1.531109
                    3      2025-01-07 18:49:00  2025-01-08 10:36:00  5.765630
                    4      2025-01-07 18:49:00  2025-01-08 10:36:00  2.913409
...                                        ...                  ...       ...
2025-01-08 03:00:00 15077  2025-01-07 11:00:00  2025-01-08 20:00:00  8.717769
                    15078  2025-01-07 11:00:00  2025-01-08 20:00:00  8.717769
                    15079  2025-01-07 11:00:00  2025-01-08 20:00:00  8.717769
                    15080  2025-01-07 11:00:00  2025-01-08 20:00:00  8.717769
                    15081  2025-01-07 11:00:00  2025-01-08 20:00:00  7.731287

                                 wdir
valid_time          point
2025-01-07 11:00:00 0      236.519318
                    1       79.926773
                    2       79.926773
                    3       46.684620
                    4      236.519318
...                               ...
2025-01-08 03:00:00 15077   21.627914
                    15078   21.627914
                    15079   21.627914
                    15080   21.627914
                    15081   22.035828

[135738 rows x 18 columns]

In [55]:

# Specify the file path
file_path = 'wind_data/all_hrrr.csv'

# Save the DataFrame to a CSV file
# index=False prevents writing the DataFrame index as a column in the CSV
df.to_csv(file_path, index=False)